<%= search_form_for(@query, url: search_path, method: :get, class:'d-flex') do |f| %>
  <%= f.search_field :title_or_content_body_or_user_email_or_user_name_i_cont_any,
  placeholder: "Search...",
  class: "form-control me-2" %>
  <%= f.submit "Search!", class: "btn btn-outline-secondary" %>
<% end %>