<div class="container text-center">
  <p>
    <%= link_to "Admin", admin_path %><%= "> #{params[:action].capitalize}" unless params[:action].eql?("index")%>
  </p>
  <div class="btn-group">
    <%= render "admin/link", resource: Post %>
    <%= render "admin/link", resource: Comment %>
    <%= render "admin/link", resource: User %>
  </div>
</div>