<div class="container">
  <h1>My personal Home Page</h1>
  <p>You can read more about me, or checkout my blog.</p>
  <%= link_to "About me", about_path, class: 'btn btn-secondary' %>
  <%= link_to "Blog", posts_path, class: 'btn btn-primary'%>
</div>
