<div class='container'>
  <%= render @post %>

  <div>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= link_to "Back to posts", posts_path %>

    <%= button_to "Destroy this post", @post, method: :delete %>
  </div>
</div>

<div class='container'>
  <%= render 'comments/form',
    post: @post,
    comment: @post.comments.build,
    submit_label: "Reply" %>
    <% @comments.each do |comment| %>
      <%= render 'comments/comment', post: @post, comment: comment %>
    <% end %>
</div>
